// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.

:root {
  --xusix-red: $xusix-red;
  --xusix-red-lighter: $xusix-red-lighter;
  --active-hue: $active-hue;
  --active-sat: $active-sat;
  --fbc-blue-70: var(--xusix-red);
  --fbc-blue-60: var(--xusix-red-lighter);
}

html {
  scrollbar-color: $xusix-red rgba($ui-base-color, 0.25);
}

// Change the appearance of buttons
button, .button, .block-button {
  &, .simple_form & {
    background: linear-gradient(#3F3F3F, #0e0e0e);
    color: $white;
    border: 1px solid #070707;
    border-radius: 2px;

    &.button-alternative-2 {
      color: $white;
    }

    &.button-tertiary {
      color: $highlight-text-color;
    }

    &:hover:not([disabled], .disabled),
    &:focus:not([disabled], .disabled) {
      background: linear-gradient(#E04E4E, #CD0C0C 45%, #CA0303);
    }

    &:active:not([disabled], .disabled) {
      background: linear-gradient(#660709, #4F0507);
      box-shadow: 0 2px 2px #2C0304 inset;
    }
  }
}

.simple_form {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="text"],
  input[type="url"],
  textarea {
    &:active,
    &:focus {
      border-color: $xusix-red-lighter;
    }
  }
}

#mastodon,
.public-layout {
  background: linear-gradient(hsl($active-hue 97% 25%), hsl($active-hue 30% 5%));
  background-attachment: fixed;
}

.drawer__header {
  .drawer__tab {
    border: 1px solid #242424;
    border-bottom-color: #404040;
    background: linear-gradient(#838383, #444 50%, $xusix-base-color 50%, #333);
    color: $white;
    &:hover {
      border-color: hsl($active-hue $active-sat 14%);
      border-bottom-color: hsl($active-hue $active-sat 25%);
      background: linear-gradient(
        hsl($active-hue $active-sat 51%),
        hsl($active-hue $active-sat 27%) 50%,
        hsl($active-hue $active-sat 19%) 50%,
        hsl($active-hue $active-sat 20%)
      );
      box-shadow: 0 -1px 0 hsl($active-hue $active-sat 15%) inset,
        0 1px 0 hsl($active-hue $active-sat 45%) inset;
    }
    &:active {
      border-color: hsl($active-hue $active-sat 4%);
      border-bottom-color: hsl($active-hue $active-sat 15%);
      background: linear-gradient(
        hsl($active-hue $active-sat 41%),
        hsl($active-hue $active-sat 17%) 50%,
        hsl($active-hue $active-sat 9%) 50%,
        hsl($active-hue $active-sat 10%)
      );
      box-shadow: 0 -1px 0 hsl($active-hue $active-sat 5%) inset,
        0 1px 0 hsl($active-hue $active-sat 35%) inset;
    }
  }
}

.tabs-bar__wrapper {
  background: none;
}
