@use 'sass:color';
@use 'variables' as *;
@use '../mastodon/variables' as *;

// https://codepen.io/alanaktion/pen/ExpxLVa

:root {
  --xusix-red: $xusix-800;
  --xusix-red-lighter: $xusix-600;
}

html {
  scrollbar-color: $xusix-800 rgba($ui-base-color, 0.25);
}

// Change the appearance of buttons
.button, .block-button, .btn {
  &, .simple_form & {
    background: linear-gradient(#3F3F3F, #0e0e0e);
    color: $white;
    border: 1px solid #070707;
    border-radius: 2px;

    &.button-alternative-2 {
      color: $white;
    }

    &.button-tertiary {
      color: $highlight-text-color;
    }

    &:hover:not([disabled], .disabled),
    &:focus:not([disabled], .disabled) {
      background: linear-gradient(#E04E4E, #CD0C0C 45%, #CA0303);
    }

    &:active:not([disabled], .disabled) {
      background: linear-gradient(#660709, #4F0507);
      box-shadow: 0 2px 2px #2C0304 inset;
    }
  }
}

.simple_form {
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="text"],
  input[type="url"],
  textarea {
    &:active,
    &:focus {
      border-color: $xusix-600;
    }
  }
}

#mastodon,
.public-layout {
  background: linear-gradient($xusix-800, color.change($xusix-800, $lightness: 0.15, $chroma: 0.04));
  background-attachment: fixed;
}

.drawer__tab, .column-header__button {
  border: 1px solid #242424;
  border-bottom-color: #404040;
  background: linear-gradient(#838383, #444 50%, $xusix-base-color 50%, #333);
  color: $white;
  &:hover {
    border-color: color.change($xusix-800, $lightness: 0.14);
    border-bottom-color: color.change($xusix-800, $lightness: 0.25);
    background: linear-gradient(
      color.change($xusix-800, $lightness: 0.51),
      color.change($xusix-800, $lightness: 0.27) 50%,
      color.change($xusix-800, $lightness: 0.19) 50%,
      color.change($xusix-800, $lightness: 0.2)
    );
    box-shadow: 0 -1px 0 color.change($xusix-800, $lightness: 0.15) inset,
      0 1px 0 color.change($xusix-800, $lightness: 0.45) inset;
  }
  &:active {
    border-color: color.change($xusix-800, $lightness: 0.04);
    border-bottom-color: color.change($xusix-800, $lightness: 0.15);
    background: linear-gradient(
      color.change($xusix-800, $lightness: 0.41),
      color.change($xusix-800, $lightness: 0.17) 50%,
      color.change($xusix-800, $lightness: 0.09) 50%,
      color.change($xusix-800, $lightness: 0.1)
    );
    box-shadow: 0 -1px 0 color.change($xusix-800, $lightness: 0.05) inset,
      0 1px 0 color.change($xusix-800, $lightness: 0.35) inset;
  }
}

.tabs-bar__wrapper {
  background: none;
}

.column-header {
  background: linear-gradient(#636363, #202020 50%, #000 50%, #000);
  color: $white;
  text-shadow: 0 1px 0 #0007;
  border-top: 1px solid #858585;
  border-bottom: 1px solid #000;
  box-shadow: 0 -1px 0 #636363 inset, 0 1px 0 #858585 inset;
}

.column-header__collapsible {
  background-color: var(--dropdown-background-color);
}

.column {
  background-color: var(--background-color);
}
