// This file should only define *new* variables, overrides to the upstream
// Mastodon variables should be done in the xusix.scss file.

// Xusix variants
$xusix-900: oklch(0.1906 0.0663 30.96);
$xusix-800: oklch(0.3843 0.14743 30.96);
$xusix-700: oklch(0.4302 0.18 30.96);
$xusix-600: oklch(0.4761 0.18 30.96);
$xusix-500: oklch(0.5928 0.18 30.96);
$xusix-400: oklch(0.6306 0.16 30.96);
$xusix-300: oklch(0.6802 0.13 30.96);
$xusix-200: oklch(0.7953 0.10 30.96);
$xusix-100: oklch(0.9504 0.03 30.96);

// Classic Cubik Network colors
$cubik-blue: oklch(0.6638 0.1772 260);
$cubik-blue-lighter: oklch(0.8688 0.0568 260);
$cubik-blue-darker: oklch(0.5545 0.2427 260);
$cubik-red: oklch(0.5818 0.2212 27.67);
$cubik-yellow: oklch(0.8301 0.1483 75.04);
$cubik-green: oklch(0.6515 0.1731 145.74);
$cubik-purple: oklch(0.4718 0.1816 319.7);
$cubik-light-grey: #fafafa;
$cubik-grey: #555;

// Xusix Mastodon UI colors
$xusix-base-color: #303030;
$xusix-primary-color: #bababa;
$xusix-secondary-color: #e6e6e6;
$xusix-highlight-color: oklch(0.5711 0.22679 30.96);
