// Commonly used web colors
$black: #000000;
$white: #ffffff;
$success-green: #34d399;
$error-red: #c21f0d;
$warning-red: #df4635;
$gold-star: #f59e0b;

// Classic Xusix colors
$xusix-red: #800f02;
$xusix-red-lighter: #a52315;
$xusix-red-bright: #de1600;

// Classic Cubik Network colors
$cubik-blue: #4d90fe; // #4b8df8
$cubik-blue-lighter: #bfd5fa;
$cubik-blue-darker: #0362fd;
$cubik-red: #e02222;
$cubik-yellow: #ffb848;
$cubik-green: #35aa47;
$cubik-purple: #852b99;
$cubik-light-grey: #fafafa;
$cubik-grey: #555555;

// Xusix Mastodon UI colors
$xusix-base-color: #303030;
$xusix-primary-color: #bababa;
$xusix-secondary-color: #e6e6e6;
$xusix-highlight-color: $xusix-red-bright;

$active-hue: 6;
$active-sat: 65%;
$fbc-blue-70: $xusix-red;
$fbc-blue-60: $xusix-red-lighter;

$red-bookmark: $xusix-red-lighter;

// Variables for defaults in UI
// $base-shadow-color: $black !default;
// $base-overlay-background: $black !default;
// $base-border-color: $white !default;
// $simple-background-color: $white !default;
// $valid-value-color: $success-green !default;
$error-value-color: $xusix-red-lighter !default;

// Tell UI to use selected colors
$ui-base-color: $xusix-base-color !default;                    // Darkest
$ui-base-lighter-color: lighten($ui-base-color, 26%) !default; // Lighter darkest
$ui-primary-color: $xusix-primary-color !default;              // Lighter
$ui-secondary-color: $xusix-secondary-color !default;          // Lightest
$ui-highlight-color: $xusix-highlight-color !default;

// Variables for texts
// $primary-text-color: $white !default;
// $darker-text-color: $ui-primary-color !default;
// $dark-text-color: $ui-base-lighter-color !default;
// $secondary-text-color: $ui-secondary-color !default;
// $highlight-text-color: lighten($ui-highlight-color, 8%) !default;
// $action-button-color: $ui-base-lighter-color !default;
$passive-text-color: $xusix-red-lighter;
// $active-passive-text-color: $success-green !default;
